*{
    margin: 0px;
    padding: 0px;
    font-family: 'Hedvig Letters Serif', serif;
    background-color: rgb(212, 186, 162);
}

form#playerForm {
    text-align: center;
}

div.gameContainer{
    padding-top: 500px;
    display: contents;
    align-items: center;
    height: 300px;
    width: 1000px;
    text-align: center;
    border:black;
}


h1 {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 10px;
    font-size: 50px;
    font-weight: 500;
}

label {
    font-size: 30px;
    padding-right: 5px;
}

input#playerName {
    margin-top: 5px;
    font-size: 15px;
    background-color: white ;
    border: none;
    height: 30px;
    width: 140px;
    text-indent: 10px;
    border-radius: 8px;
}

button#startBtn {
    margin-top: 8px;
    font-size: 20px;
    height: 30px;
    width: 110px;
    border-radius: 8px;
    background-color: rgb(245, 232, 229);
    border: none;
}

button#startBtn:hover {background-color: rgb(235, 230, 228)}

button#startBtn:active {
background-color: #e9cac0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

p#playerNameDisplay {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 50px;
}


h3 {
   margin-top: -10px;
   display: flex;
   justify-content: center;
   font-size: 25px;
   font-weight: 500;
}

.h3Div {
    margin-left: -50px;
}

span#playerChoice {
    padding-left: 5px;
}

span#computerChoice {
    padding-left: 5px;
}

p#result {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 30px;
    color: rgb(95, 72, 72);
}

@keyframes jump {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); 
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px); 
    }
  }
  
  .winner-animation {
    animation: jump 1s ease-out; 
  }

button#rockBtn {
    font-size: 20px;
    height: 30px;
    width: 110px;
    margin: 5px;
    border-radius: 8px;
    background-color: rgb(233, 221, 219);
    border: none;
}

button#rockBtn:hover {background-color: rgb(235, 230, 228)}

button#rockBtn:active {
background-color: #e9cac0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button#paperBtn {
    font-size: 20px;
    height: 30px;
    width: 110px;
    margin: 5px;
    border-radius: 8px;
    background-color: rgb(233, 221, 219);
    border: none;   
}

button#paperBtn:hover {background-color: rgb(235, 230, 228)}

button#paperBtn:active {
background-color: #e9cac0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button#scissorsBtn {
    font-size: 20px;
    height: 30px;
    width: 110px;
    margin: 5px;
    border-radius: 8px;
    background-color: rgb(233, 221, 219);
    border: none;  
}

button#scissorsBtn:hover {
    background-color: rgb(235, 230, 228)
}

button#scissorsBtn:active {
background-color: #e9cac0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button#resetBtn {
    font-size: 20px;
    height: 30px;
    width: 110px;
    margin: 5px;
    border-radius: 8px;
    background-color: rgb(179, 138, 131);
    border: none;
}

button#resetBtn:hover {
    background-color: rgb(235, 230, 228)
}

button#resetBtn:active {
background-color: #ecd9d2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button#backBtn {
    font-size: 20px;
    height: 30px;
    width: 110px;
    margin: 5px;
    border-radius: 8px;
    background-color: rgb(179, 138, 131);
    border: none;
}

button#backBtn:hover {
    background-color: rgb(235, 230, 228)
}

button#backBtn:active {
background-color: #e9cac0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



@media (max-width: 530px) {
    h1 {
        font-size: 40px;
    }

    label {
        font-size: px;
    }

    p#playerNameDisplay {
        margin-top: 20px;
        font-size: 40px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}